<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">     
            <br>                   
          <h2>Add New Sensor</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" action="#" method="POST" role="form">
                <div >
                    <label for="User_Role" class="form-label">Choose your Organisation</label>
                    <select  class="form-control" (change)="selectChangeHandler($event)" placeholder="Chose your Organisation" tabindex="3">  
                        <option *ngFor="let org of orgs" [value]="org.orgId">{{org.orgName}}</option>
                    </select>  
                </div>  
                
                <div  >
                    <label for="User_Role" class="form-label">Choose your UserName</label>
                    <select  class="form-control" (change)="selectChangeHandlerUser($event)" placeholder="Chose your Organisation" tabindex="3">  
                        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
                    </select>  
                </div>  
                                      
                <div >
                    <label class="form-label" for="email">Sensor Name</label>
                    <input type="email" class="form-control" [(ngModel)]="sensor.sensorName" id="email" name="email" placeholder="Suggest Name for Sensor..." tabindex="2" required>
                </div>                            
                                            
                <div >
                    <label for="User_Role" class="form-label">Choose your License Id</label>
                    <select  class="form-control" (change)="selectChangeHandlerLicense($event)" placeholder="Chose your Organisation" tabindex="3">  
                        <option *ngFor="let license of licenses" [value]="license.licenseId">{{license.userId}}</option>
                    </select>  
                </div>  
                <div >
                    <label class="form-label" for="message">Initial Threshold Value</label>
                    <input type="text" [(ngModel)]="sensor.threshold" name="License" class="form-control" id="License" placeholder="License Number for the sensor..." tabindex="5" required>                                 
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order" (click)="addSensor()">Send Request</button>
                </div>
            </form>
        </div>
    </div>
  </div>