<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">               
            <br>         
          <h2>Delete An Existing License</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" action="#" method="POST" role="form">
                <div  >
                    <label for="User_Role" class="form-label">Choose your Organization</label>
                    <select   (change)="selectChangeHandlerOrg($event)" placeholder="Chose your Organisation" tabindex="3">  
                        <option *ngFor="let org of orgs" [value]="org.orgId">{{org.orgName}}</option>
                    </select>  
                </div>
                <div  >
                    <label for="User_Role" class="form-label">Choose your License Id</label>
                    <select  class="form-control" (change)="selectChangeHandlerLicense($event)" placeholder="Chose your Organisation" tabindex="3">  
                        <option *ngFor="let license of licenses" [value]="license.licenseId">{{license.userId}}</option>
                    </select>  
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order" (click)="deleteLicense()">Send Request</button>
                </div>
            </form>
        </div>
    </div>
  </div>
