
<div class="banner">
    <h1 >
        Nbot Server <br> 
    </h1>
    <h1>
        <br> Sensor Management API
    </h1>
</div>
<div class="container mt-5 mb-5">
    <h1 class="text-center">
        How to get <span class="highlight"> API Data</span> 
    </h1>
    <div class="row">
        <!--First Step-->
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>1.</h1>
                <p>lepsum de maro</p>
            </div>
            

        </div>
        <!--Second Step-->
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>2.</h1>
                <p>lepsum de maro</p>
            </div>

        </div>
        <!--Third Step-->
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>3.</h1>
                <p>lepsum de maro</p>
            </div>

        </div>
        

    </div>
        
</div>
