<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">   
            <br>                     
          <h2>Update An Existing Sensor</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form  class="form" action="#" method="POST" role="form">
                <div >
                    <label class="form-label" for="name">User Id</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="sensor.id" placeholder="Your Sensor Id..." tabindex="1" required>
                </div>                            
                <div >
                    <label class="form-label" for="email">Sensor Status</label>
                    <input class="statuscol" type="radio" id="html" [(ngModel)]="sensor.status" tabindex="2" name="fav_language" value=true>
                        <label class="statuscol" for="html">True</label>
                        <input class="statuscol" type="radio" id="css" name="fav_language" [(ngModel)]="sensor.status" tabindex="3" value=false>
                        <label class="statuscol" for="css">False</label>
                </div>                            
                <div >
                    <label class="form-label" for="subject">Threshold Value</label>
                    <input type="text"  [(ngModel)]="sensor.threshold" id="subject" name="subject" placeholder="Your Threshold Value...." tabindex="4">
                </div>                            
               
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order" (click)="updateNow()">Send Request</button>
                </div>
            </form>
        </div>
    </div>
  </div>