/* You can add global styles to this file, and also import other style files */
*
{
    padding:0;
    margin:0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    height:100vh;
}
html, body { height: 100%; }
:root{
    --primary-color:#99ccff;
    --secondary-color:#13263a;
    --after-color:#e6005c;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
